.container{
    width: 500px;
    height: 400px;
    background-color: aqua;   
}
path{
    fill:none;
    stroke: burlywood;
    stroke-width: 2px;
}
.domain,.tick line{
    stroke: burlywood;
    stroke-width: 2px;
}
